<ion-view view-title="About">
  <ion-content>
  <div class="container">
  	<div class="pics">
  		<div class="imgcontainer">
  			<img src="img/iterms.jpg" class="img1">
  		</div>
  	</div>
  	<div class="text">
	  	<div class="word1">
	  		The IT Education Site
	  	</div>
	  	<div class="definition">
	  		At iTerms™, we aim to provide insight and inspiration to IT professionals, technology decision-makers and anyone else who is proud to be called a "geek". From defining complex tech jargon in our dictionary, to exploring the latest trend in our articles or providing in-depth coverage of a topic in our tutorials, our goal is to help you better understand technology - and, we hope, make better decisions as a result.
	  	</div>
  </div>
  </ion-content>
</ion-view>
